@charset "utf-8";

.rtl {
  direction: rtl;
}
.rtl .waxon_tm_topbar .menu .links ul li:last-child {
  margin-right: 30px;
}
.rtl .waxon_tm_topbar .menu .links ul li:first-child {
  margin-right: 0px;
}
.rtl .waxon_tm_hero .background .leftpart {
  left: auto;
  right: 0px;
}
.rtl .waxon_tm_hero .background .rightpart {
  padding-left: 0px;
  padding-right: 33%;
  @media screen and (max-width: 767px) {
    padding-right: 0;
  }
}

.rtl .waxon_tm_about .about_inner .right {
  padding-left: 0px;
  padding-right: 100px;
}
.rtl .waxon_tm_about .name h3 .bg {
  left: auto;
  right: 0px;
}
.rtl .waxon_tm_service ul li .svg {
  left: auto;
  right: 0px;
}
.rtl .waxon_tm_service ul li .details {
  padding-left: 0px;
  padding-right: 75px;
  @media screen and (max-width: 767px) {
    padding-right: 0;
  }
}
.rtl .waxon_tm_about .about_inner .right {
  @media screen and (max-width: 768px) {
    padding-right: 0;
  }
  @media screen and (min-width: 769px) and (max-width: 1040px) {
    padding-right: 50px;
  }
}
.rtl .waxon_tm_service .service_inner .hooper-slide {
  padding-right: 0;
  padding-left: 44px;
}
.rtl .waxon_tm_main_title .title h3 .bg {
  left: auto;
  right: 0px;
}
.rtl .waxon_tm_portoflio .portfolio_inner ul li {
  float: right;
}
.rtl .waxon_tm_portoflio .portfolio_filter ul {
  padding-right: 0px;
  padding-left: 50px;
}
.rtl .waxon_tm_portoflio .portfolio_filter ul li:last-child {
  margin-right: 30px;
}
.rtl .waxon_tm_portoflio .portfolio_filter ul li:first-child {
  margin-left: 0px;
}
.rtl .cool-lightbox {
  direction: ltr;
}
.rtl .waxon_tm_testimonials .short {
  padding-left: 0px;
  padding-right: 25px;
}
.rtl .waxon_tm_testimonials .testi_inner .left {
  padding-left: 50px;
  padding-right: 0px;
}
.rtl .waxon_tm_testimonials .testi_inner .right {
  padding-right: 50px;
  padding-left: 0px;
  @media screen and (max-width: 767px) {
    padding-right: 0;
    margin: 0;
  }
}
.rtl .waxon_tm_testimonials .testi_inner .right .image_list ul {
  @media screen and (max-width: 767px) {
    margin: 0 -10px;
  }
}
.rtl .waxon_tm_contact .contact_inner .left {
  padding-left: 25px;
  padding-right: 0px;
}
.rtl .waxon_tm_contact .right {
  padding-left: 0px;
  padding-right: 25px;
}
.rtl .waxon_tm_contact .desc {
  float: right;
}
.rtl .waxon_tm_copyright .copyright_inner .social ul li:last-child {
  margin-right: 30px;
}
.rtl .waxon_tm_copyright .copyright_inner .social ul li:first-child {
  margin-right: 0px;
}
.rtl .waxon_tm_mobile_menu .dropdown .dropdown_inner ul li {
  float: right;
}
.rtl .waxon_tm_portoflio .portfolio_filter ul li {
  float: right;
}
.rtl .waxon_tm_partners ul li {
  float: right;
}
.rtl .waxon_tm_news .news_inner ul li {
  float: right;
}
.rtl .waxon_tm_copyright .copyright_inner > ul > li {
  float: right;
}
.rtl .waxon_tm_modalbox_about .my_box .left {
  padding-right: 0px;
  padding-left: 50px;
}
.rtl .waxon_tm_modalbox_about .my_box .right {
  padding-right: 50px;
  padding-left: 0px;
}
.rtl .progress_inner > span {
  text-align: right;
}
.rtl .progress_inner span.number {
  float: left;
}
.rtl .waxon_tm_modalbox_news .main_content .quotebox {
  padding-left: 0px;
  padding-right: 70px;
}
.rtl .waxon_tm_modalbox_news .main_content .icon {
  left: auto;
  right: 0px;
}

@media (max-width: 1040px) {
  .rtl .waxon_tm_contact .contact_inner .left {
    padding: 0px;
  }
  .rtl .waxon_tm_contact .right {
    padding: 0px;
  }
  .rtl .waxon_tm_modalbox_about .my_box .left {
    padding: 0px;
  }
  .rtl .waxon_tm_modalbox_about .my_box .right {
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .rtl .waxon_tm_modalbox_news .main_content .quotebox {
    padding-right: 0px;
  }
}
